@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600&family=Fredoka+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./Asset/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  font-family: "Fira Sans Condensed", sans-serif;
  background-position: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.section-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-container-left {
  color: aliceblue;
  padding: 40px 80px 100px 40px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  text-align: left;
  vertical-align: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.ri-play-fill {
  padding-top: 10px !important;
}
.section-container-left h2 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 60px;
  width: 350px;
}
.section-container-left h2 span {
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.section-container-left p {
  font-weight: 300;
  margin-top: 20px;
  width: 300px;
}

.section-right {
  display: flex;
  font-family: "Poppins", sans-serif;
  background: rgba(255, 255, 255, 1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.section-container-right .logo {
  height: 100px;
  width: 100px;
  margin: 20px 0;
  filter: invert();
}
.section-container-right .logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.section-container-right h3 {
  font-size: 28px;
}
.section-container-right h3 img {
  height: 28px;
  width: 28px;
  object-fit: contain;
  margin-left: 10px;
}
.section-container-right p {
  color: rgb(167, 167, 167);
  font-size: 12px;
  margin: 5px 0 20px 0;
}
label {
  font-family: "Fira Sans Condensed", sans-serif;
}
input[type="email"],
input[type="password"] {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  margin: 5px 0 20px 0 !important;
}

.remember-section {
  display: flex;
  font-family: "Fira Sans Condensed", sans-serif;
  justify-content: space-between;
}
input[type="button"] {
  background: rgb(7, 97, 73);
  background: radial-gradient(
    circle,
    rgba(7, 97, 73, 1) 45%,
    rgba(8, 88, 45, 1) 100%
  );
}

input[type="button"],
.google-btn {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: white;
  padding: 10px;
  margin: 15px 0 20px 0;
  border-radius: 5px;
  cursor: pointer;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 16px;
  background: rgb(7, 97, 73);
  background: radial-gradient(
    circle,
    rgba(7, 97, 73, 1) 45%,
    rgba(8, 88, 45, 1) 100%
  );
}

.or-line {
  position: relative;
  padding: 30px 0;
}
.or-line span {
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
@media (max-width: 850px) {
  .section-container-right .logo {
    height: 100px;
    width: 100%;
    margin: 10px 0;
  }
  .section-container-right p {
    color: #fff;
  }
  label {
    color: #fff;
  }
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .section-left {
    display: none;
  }
  .section-right {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .or-line span {
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
  }
}
.flower {
  animation: bouncing 4s ease-in-out forwards infinite alternate;
}
@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
